<div class="container-fluid v-center">
  <div class="row-fluid">
    <div class="col-xs-12 span12">
      <div class="container-fluid" id="LG">
        <div class="row-fluid">
          <div class="col-xs-10 span9">
            <h3>
              <strong><a href="{{ site.url }}">{{ site.title }}</a></strong>
            </h3>
          </div>
          <div class="col-xs-2 span3">
            <img alt="Renge" height="60" src="/images/miaopasi.jpg" class="img-circle miaopasi" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>