<div class="col-xs-3">
  <ul class="nav nav-list" id="article-tree">
    <li class="nav-header"><a href="/"><big><b>首页</b></big></a></li>
    <hr>
    <li class="nav-header"><a href="/about_cn"><big><b>关于我</b></big></a></li>
    <hr>
    <li class="nav-header"><big><b>我的作品</b></big></li>
    <hr>
    <li class="category-item">
      <a href="https://github.com/shunliz/Machine-Learning"><strong>机器学习</strong></a>
    </li>
    <li class="category-item">
      <a href="https://shunliz.github.io/openstack-notes/"><strong>云计算</strong></a>
    </li>
    <li class="category-item">
      <a href="https://www.zhihu.com/column/c_1859371637373288448"><strong>BOX</strong></a>
    </li>
    <li class="category-item">
      <a href="#"><strong>Linux</strong></a>
    </li>
    <li class="category-item">
      <a href="#"><strong>其他</strong></a>
    </li>
    <hr>
      <li class="nav-header"><big><b>Links</b></big></li>

    <li><a href="https://github.com/shunliz">shunliz's  github</a></li>
    <li><a href="https://www.zhihu.com/people/zsl6658">知乎</a></li>
    <li><a href="http://blog.csdn.net/shatty">CSDN</a></li>
    <li><a href="https://www.linkedin.com/in/steven-zhou-3285a351">LinkedIn</a></li>
    <li><a href="https://space.bilibili.com/205201715">B站</a></li>
    <li><a href="#">抖音()</a></li>
    <hr>
	  <li class="nav-header"><a href="/books"><big><b>我的书单</b></big></a></li>
  </ul>
</div>
  