<div class="col-xs-3">
  <ul class="nav nav-list" id="article-tree">
    <li class="nav-header"><a href="/about_cn">关于我</a></li>
    <li class="nav-header"><big><b>我的作品</b></big></li>
    <hr>
    <li class="category-item">
      <a href="#"><strong>机器学习</strong></a>
    </li>
    <li class="category-item">
      <a href="#"><strong>云计算</strong></a>
    </li>
    <li class="category-item">
      <a href="#"><strong>BOX</strong></a>
    </li>
    <li class="category-item">
      <a href="#"><strong>Linux</strong></a>
    </li>
    <li class="category-item">
      <a href="#"><strong>其他</strong></a>
    </li>
    <hr>
      <li class="nav-header"><big><b>Links</b></big></li>

    <li><a href="https://github.com/shunliz">shunliz's  github</a></li>
	<li><a href="/books">我的书单</a></li>
  </ul>
</div>
